<section class='m-4'>
  <section>
    <div class='d-grid gap-2 col-5 mx-auto'>
      <a class='btn btn-secondary' type='button' href='/movies/search'>
        Add A Movie
      </a>
    </div>
  </section>

  {{! This part here will be FOR EACH REVIEW!!! }}
  {{#each reviews as |review|}}
    <div class='card m-5 col-11'>
      <div class='card-header text-center'><h2>{{review.movie.title}}</h2></div>
      <div class='row g-0'>
        <div class='col-md-3'>
          <a href='/movies/{{id}}'><img
              src='{{review.movie.poster}}'
              class='img-fluid rounded-start'
              alt='{{review.movie.title}} Poster'
            />
          </a>
        </div>
        <!-- TODO: Spacing of this is off - will adjust later -->
        <div class='col-md-4 d-flex flex-column mt-5' >
          <h2>{{review_stars rating}}</h2>
            <h3 class='card-title mb-3'>
              {{review.user.name}} says...
              
            </h3>
            <h5 class='card-text'>
              {{review.review}}
            </h5>

          </div>
  
            <div class='col-md-4 d-flex flex-column mt-5'>
              {{review.movie.plot}}

            </div>

          </div>
        </div>
      </div>
    </div>
  {{/each}}
</section>

<script src='/js/addMovie.js'></script>