<section class='m-4'>
  <section>
    <div class='d-grid gap-2 col-5 mx-auto'>
      <a class='btn btn-secondary' type='button' href='/movies/search'>
        Add A Movie
      </a>
    </div>
  </section>

  {{!-- Creates a review card for each review in the database --}}
  {{#each reviews as |review|}}
    <div class='card m-5 col-11'>
      {{!-- Review card movie titles link to individual movie page --}}
      <div class='card-header text-center pt-3'><h2><a class='light-link' href='/movies/{{review.movie.id}}'>{{review.movie.title}}</a></h2></div>
      <div class='row g-0 lighter'>
              {{!-- Review card movie posters link to individual movie page --}}
        <div class='col-md-4'>
          <a href='/movies/{{review.movie.id}}'><img
              src='{{review.movie.poster}}'
              class='img-fluid rounded m-2'
              alt='{{review.movie.title}} Poster'
            />
          </a>
        </div>
        <div class='col-md-4 d-flex mt-5 flex-column ' >
          <div class="row mx-2">
            {{!-- Displays the number of stars that corresponds to the users rating using the review_starts helper function --}}
            <h2 class="">{{review_stars rating}}</h2>
            <h3 class='card-title '>
              {{review.user.name}} says...
              
              </h3>
            </div>
            <div class="row mx-2">
            <h5 class='card-text my-5'>
              {{review.review}}
            </h5>
            </div>

          </div>
  
            <div class='col-md-3 d-flex flex-column mt-5 mx-2'>
              {{review.movie.plot}}

            </div>

          </div>
        </div>
      </div>
    </div>
  {{/each}}
</section>

<script src='/js/addMovie.js'></script>