<section>
  <div class='d-flex justify-content-center'>
    <div class='card text-center col-11 m-4'>
      <div class='card-header'>
        <ul class='nav nav-tabs card-header-tabs'>
          <li class='nav-item'>
            <a
              class='nav-link active'
              aria-current='true'
              href='/users/movies'
            >My Movies</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/users/reviews'>My Reviews</a>
          </li>
        </ul>
      </div>
      <div class='card-body'>
        <h4 class='card-text'>
          View all your added movies here. Add reviews to your movies for all to
          see!
        </h4>
        <div class='d-flex flex-wrap mx-4 justify-content-center'>
          {{#each movies}}
            <div class='card text-center m-3' style='width: 18rem'>
              <div class='card-body'>
                <h5 class='card-title'>{{title}}</h5>
                <a href='/movies/{{id}}'><img
                    src='{{poster}}'
                    class='img-fluid rounded-start'
                    alt='{{title}} Poster'
                  />
                </a>
                <a
                  href='/reviews/new?movieId={{id}}'
                  class='btn btn-primary mt-3'
                >Review</a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>