<section>
  <div>
    <div class='card text-center col-11'>
      <div class='card-header'>
        <ul class='nav nav-tabs card-header-tabs'>
          <li class='nav-item'>
            <a class='nav-link' aria-current='true' href='/users/movies'>My
              Movies</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link active' href='/users/reviews'>My Reviews</a>
          </li>
        </ul>
      </div>
      <div class='card-body'>
        <h5 class='card-title'>All Movie Reviews Here</h5>
        <p class='card-text'>
          With supporting text below as a natural lead-in to additional content.
        </p>
        <div class='d-flex flex-wrap'>
          {{#each reviews as |review|}}
            <div class='card m-5 col-5'>
              <div class='card-header d-flex justify-content-between'><h2
                  class='ml-4'
                >{{review.movie.title}}</h2>
                <h2>{{review_stars rating}}</h2>
              </div>
              <div class='row'>
                <div class='col-md-6 d-flex'>
                  <a href='/movies/{{review.movie.id}}'><img
                      src='{{review.movie.poster}}'
                      class='img-fluid rounded-start'
                      alt='{{review.movie.title}} Poster'
                    />
                  </a>
                </div>
                <div class='col-md-4 mt-5'>
                  <div class='row my-5'>
                    <h5 class='card-text'>
                      {{review.review}}
                    </h5>
                  </div>
                  <div class='row d-flex my-5'>
                    <button class='btn btn-primary m-2'>DELETE</button>
                    <button class='btn btn-secondary m-2'>EDIT</button>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <!-- // Ends here  -->
  </div>

</section>